BLOG_PORT=18080
MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=please_change_me
MYSQL_ROOT_PASSWORD=please_change_root_password
ADMIN_USERNAME=baize
ADMIN_PASSWORD=please_change_admin_password
AUTH_SECRET=please_generate_a_long_random_secret
